<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Welcome!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <nav class="row">
                <div class="col-1"></div>
                <div class="col-4">
                <a href="/"><button class="btn btn-info text-dark">Home</button></a>
                </div>
                <div class="col-4">
                <a href="/projects"><button class="btn btn-success text-dark">Projects</button></a>
                </div>
                <div class="col-2">
                <a href="/contact"><button class="btn btn-success text-dark">Contact</button></a>
                </div>
            </nav>
            <hr class="bg-dark my-4">
            <div class="row">
                <div class="col-5">
                    <img src="/images/norgannon.jpg" alt="Norgannon, Titan of Magic">
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                <h4 class="text-info">
                    Not me, just a cat, Norgannon.
                </h4>
                </div>
            </div>
        </div>
    </body>
</html>