<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Welcome!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/style.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-4">
                <a href="/"><button class="btn btn-success text-dark">Home</button></a>
                </div>
                <div class="col-4">
                <a href="/projects"><button class="btn btn-info text-dark">Projects</button></a>
                </div>
                <div class="col-2">
                <a href="/contact"><button class="btn btn-success text-dark">Contact</button></a>
                </div>
            </div>
            <hr class="bg-dark my-4">
            <table class="table table-dark table-bordered col-8">
                <tr>
                <th>
                    <img id='groopUp' src="images/Fire_giant.jpg">
                </th>
                <td>
                    GroopUp!<br>
                    A social site for tabletop games!<br>
                    (Image of DnD5)
                </td>
                </tr>
                <tr>
                    <th>
                        <img id='Adventure' src="images/controller.jpg">
                    </th>
                    <td>
                        Adventure!<br>
                        A WIP old-school platformer!<br>
                        (Image of an unrelated controller)
                    </td>
                </tr>
                <tr>
                    <th>
                        <img src="images/Unity.jpg">
                    </th>
                    <td>
                        Coming soon!<br>
                        Planned Unity project!<br>
                        
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>