

<table class="table table-light text-dark table-bordered">
    
        <thead>
            <tr>
                <th>Trail Name</th>
                <th>Trail Length</th>
                <th>Elevation Change</th>
            </tr>
        </thead>
        <tbody>
        @foreach(Trail trail in ViewBag.AllTrails){
        <tr>
            <td><a href="trails/@trail.id">@trail.Name</a></td>
            <td>@trail.Length</td>
            <td>@trail.Elevation</td>
        </tr>
    }
    </tbody>
</table>

<a href="NewTrail"><button class="btn btn-info text-dark">Add a new trail!</button></a>